<div class="w-full max-w mt-5">
  <%= form_with model: @photo, class:"bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4", local: true do |f| %>
    <div class="mb-4">
      <%= f.label :image, class:"block text-gray-700 text-sm font-bold mb-2" %>
      <%= f.file_field :image, class:"input" %>
    </div>
    <div class="mb-4">
      <%= f.label :description %>
      <%= f.text_area :description, class:"shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"%>
    </div>
    <div class="flex items-center">
      <%= f.submit "Share Photo", class:"bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full" %>
    </div>
  <% end %>
</div>
