<nav class="flex items-center justify-between flex-wrap bg-black p-4 mb-5">
  <div class="flex items-center flex-shrink-0 text-white mr-6">
    <%= link_to root_path do %>
      <span class="font-semibold text-xl tracking-tight">InstaMK</span>
    <% end %>
  </div>
  <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
    <%= form_with url: search_path, method: :get, local: true, class: 'form-inline search-form relative mx-auto text-gray-600' do |form| %>
      <%= form.text_field :query, value: params[:query], class: 'form-control mr-sm-2 border-2 border-gray-300 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none', placeholder: '#search' %>
    <% end %>
  </div>
  <div>
    <% if user_signed_in? %>
      <button class=" text-teal-200  items-center hover:text-white mr-5">
        <span><%= link_to 'New Photo', new_photo_path %></span>
      </button>
      <div class="dropdown inline-block relative">
        <button class="b text-teal-200 items-center hover:text-white">
          <span class="mr-1"><%= image_tag (current_user.profile_picture), class:"rounded-full w-6 h-6 float-left mr-2" %> <%= current_user.username %></span>
        </button>
        <ul class="dropdown-menu absolute hidden text-gray-700 pt-1">
          <li class=""><a class="rounded-t bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">My Photos</a></li>
          <li class=""><a class="bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">Edit Profile</a></li>
          <li class=""><%= link_to 'Sign out', destroy_user_session_path, method: :delete, class:"rounded-b bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" %></li>
        </ul>
      </div>
    <% else %>
      <%= link_to 'Sign up', new_user_registration_path, class:"inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0"  %>
      <%= link_to 'Sign in', new_user_session_path, class:"inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0"  %>
    <% end %>
  </div>
</div>
</nav>
